# Ignore compiled Python files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/

# PyInstaller build folders
build/
dist/
*.spec

# System files
.DS_Store
Thumbs.db

# IDE files (optional)
.idea/
*.iml
